<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	  <appSettings>
      <add key="ServerName" value="192.168.1.2\SQLEXPRESS" />
      <add key="DatabaseName" value="ASICOMobileCEMatchingOnline" />
      <add key="UserName" value="sa" />
      <add key="Password" value="pass" />
		
	</appSettings>
	
</configuration>